/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Lobster|Pacifico);

/* Meta */
/* @TODO make the whole page take up 100% of the height */
html,body {
	height: 100%;
}

.container-fluid {
	height: 100%;
}

.row {
	height: 100%;
}

.fill {
	height: 100%;
	min-height: 100%;
}

/* Sidebar stuff */
#sidebar {
	background-color: rgb(192, 57, 43);
	color: #ecf0f1;
	height: 100%;
}

#sidebar h3 {
	font-family: "Pacifico";
	color: #ecf0f1;
}

#sidebar form .form-group .form-control {
	border-radius: 0;
	margin-left: 0;
	margin-right: 0;
	background: inherit;
	color: #ecf0f1;
	border: none;
}

/* Map panel */
#map {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
}